@inherits LayoutComponentBase

<PageTitle>ArtCommissions</PageTitle>

<div>
    <main>
        <NavMenu />

        <article class="layout main">
            @Body
        </article>

        <footer class="footer mt-auto py-4 d-flex justify-content-center layout darken">
            <a href="#" class="text-muted mx-2"><i class="bi-facebook"></i></a>
            <a href="#" class="text-muted mx-2"><i class="bi-instagram"></i></a>
            <a href="#" class="text-muted mx-2"><i class="bi-spotify"></i></a>
        </footer>
    </main>
</div>
