@inherits LayoutComponentBase

<PageTitle>ArtCommissions</PageTitle>

<div>
    <main>
        <NavMenu />

        <article class="layout main">
            @Body
        </article>

        <Footer />
    </main>
</div>
