@inherits LayoutComponentBase

<PageTitle>ArtCommissions</PageTitle>

<div>
    <main class="main">
        <div class="navbar">
        <NavMenu />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            <LoginDisplay />
        </div>

        <article>
            @Body
        </article>
    </main>
</div>
