@inherits LayoutComponentBase

<PageTitle>ArtCommissions</PageTitle>

<div>
    <main>
        <NavMenu />

        <article class="layout main">
            @Body
        </article>

        <footer class="footer mt-auto py-4 d-flex justify-content-center layout darken">
            <span class="text-muted">Text goes here</span>
        </footer>
    </main>
</div>
