.nav-link {
    color: #6f6f6f;
}

.navbar-brand {
    color: #222222;
}

.navbar {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    background-color: #D5DB9F;
}

.navbar-primary .nav-anim:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0.5rem;
    width: 0%;
    border-bottom: 1px solid black;
    transition: 0.4s;
}

.navbar-primary .nav-anim:hover:before {
    width: calc(100% - 1rem);
}
