@page "/prices"

<h3>ExamplesAndPrices</h3>

@code {
    //TODO: fill in the database with example sizes, price connected to it

    //TODO: fill in the ExampleArtType  with data (inColor?, certain style) and how it changes the price 

    //TODO: create a carousel to customize what art you will be wanting
}
