@page "/form2"

<h3>Form2</h3>

@code {
    //TODO: fill in this with the examples and Prices that they chose, for them to confirm

    //TODO:they can input a description for specifically what they want, and put in reference photos
}
