@page "/ConfirmSubmit"


<div class="p-2 m-3">
<h1 class="d-flex p-2">Thank you for your submission!</h1>
<hr />
<p class="p-2">Keep an eye on your email for more information, I will get back to you as soon as possible!</p>
</div>