@page "/admin/clients"
@using ArtCommissions.Data;
@using Microsoft.EntityFrameworkCore;
@inject IDbContextFactory<PostgresContext> contextFactory

<h3>ClientList</h3>
<p>this works</p>
<tbody>
    @foreach (var row in Commissions)
    {
        <tr>
            <td>This is the Client: @row.Firstname</td>
            <td>This is the discription: @row.Details</td>
            <td>This is the type: @row.CommissionType</td>
        </tr>
    }
</tbody>
@code {
    private IEnumerable<CommissionRequest>? Commissions;

    [Parameter]
    public int artistid { get; set; }
    public int clients { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var context = contextFactory.CreateDbContext();

        Commissions = context.CommissionRequests.ToArray();
    }
}
