@page "/admin/clients"
@attribute [Authorize(Roles = "admins")]

@using ArtCommissions.Data;
@using Microsoft.EntityFrameworkCore;

@inject IDbContextFactory<PostgresContext> contextFactory


    <div class="p-3 m-3 container">
<h3 class="justify-content-center flex-row">ClientList</h3>
    </div>

<table class="table table-striped">
    <thead>
        <tr class="justify-content-center">
            <th scope="col">Name</th>
            <th scope="col">Details</th>
            <th scope="col">Commission Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Commissions)
        {
            <tr>
                <td>@row.Firstname @row.Lastname</td>
                <td>@row.Details</td>
                <td>@row.CommissionType</td>
            </tr>
        }
    </tbody>
</table>

@code {
    private IEnumerable<CommissionRequest>? Commissions;

    [Parameter]
    public int artistid { get; set; }
    public int clients { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var context = contextFactory.CreateDbContext();


        Commissions = context.CommissionRequests.Where(a => a.ArtistId==1).ToArray();
    }
}
