@page "/admin/profile"
@using ArtCommissions.Data;
@using System.Drawing;
@using System.IO;
@using Microsoft.EntityFrameworkCore;
@using System.Text.Json;
@inject IDbContextFactory<PostgresContext> contextFactory
@inject NavigationManager navManager
@inject HttpClient httpclient



<h3>ArtistProfile</h3>

<p> currently viewing the profile of artist @fname @lname</p>
<hr />
<p> about me: @aboutme</p>
<hr />
<p> commission total : @result</p>


@code {
    //TODO: still need to make artist profile table in our database (profile picture)
    [Parameter]
    public int id { get; set; } = 1;
    public string? fname { get; set; }
    public string? lname { get; set; }
    public string? aboutme { get; set; }
    //public string? commissioncount { get; set;  }
    public int result { get; set; }
    //public string? socials { get; set; }


    protected override async Task OnInitializedAsync()
    {
        using var context = contextFactory.CreateDbContext();

        var artist = await context.Artists.Include(a => a.Socials)
            .FirstOrDefaultAsync(i => i.Id == id);


        fname = artist.Firstname;
        lname = artist.Lastname;
        aboutme = artist.Aboutme;
        //socials = artist.Socials.;
        var response = await httpclient.GetAsync("https://localhost:7087/CommissionRequest/1");
        int content = int.Parse(await response.Content.ReadAsStringAsync());

        result = content;
    }

    async Task refreshAsync()
    {

        
    }
}
    